.info-usuario-container {
    width: 15vw;
    margin: 10px;
    padding: 10px;
}

.item-text {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-text-sub {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}