.custom-navbar {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255), rgb(236, 187, 66), rgb(206, 16, 42));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.548);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}